# ============================================================================
# IGNORE FILES AND DIRECTORIES FROM ALL PROJECTS
# ============================================================================

# ----------------------------------------------------------------------------
# CONFIG
# ----------------------------------------------------------------------------
.vscode
.code-workspace
.todos
*.lock
*.pth
*.cache

# ----------------------------------------------------------------------------
# DATA
# ----------------------------------------------------------------------------
MNIST
FashionMNIST
data
*.csv
*.txt
*.gif
*.png
*.zip
*.pt
*.pkl

# ----------------------------------------------------------------------------
# LOGS
# ----------------------------------------------------------------------------
mlruns
flax_ckpt
tb_logs
logs
log
runs
lightning_logs

# ----------------------------------------------------------------------------
# BUILDS
# ----------------------------------------------------------------------------
target
out
debug
dist-newstyle
*.whl
*.exe

# ----------------------------------------------------------------------------
# PYTHON
# ----------------------------------------------------------------------------
__pycache__
notebooks
*.ipynb

# ----------------------------------------------------------------------------
# ROCQ
# ----------------------------------------------------------------------------
*.glob
*.vo
*.vok
*.vos
*.aux

