
# config
.vscode
.code-workspace
.todos

# data
MNIST
FashionMNIST
data
*.csv
*.txt

# logs
mlruns
flax_ckpt
tb_logs
logs
runs
lightning_logs

# builds
target
out
debug
dist-newstyle
*.whl
*.exe

# other
__pycache__
notebooks
*.ipynb
*.pt
*.pkl
*.pth
*.gif
*.png
*.lock
*.zip

