__pycache__
logs
lightning_logs
notebooks
out
runs
flax_ckpt
tb_logs
log
data
target
debug
MNIST
.vscode
.todos
FashionMNIST

*.ipynb
*.csv
*/*.lock
*.whl
*.txt
*.pt
*.gif
*.png
*.exe
*.code-workspace
*.lock
*.zip

