[submodule "numerical_exercises"]
	path = numerical_exercises
	url = https://github.com/chataignault/numerics
[submodule "fixed_income/fx_pricer"]
	path = fixed_income/fx_pricer
	url = https://github.com/chataignault/ficc-pricer
[submodule "diffusion/ppca"]
	path = diffusion/ppca
	url = https://github.com/chataignault/probabilistic_pca
